body {
  background: no-repeat center fixed;
  background-size: cover;
  text-align: center;
}

.unexploded {
  background-image: url('img/simcity.jpg');
}

/* instead of changing bg-img, change class */
.exploded {
  background-image: url('img/explosion.jpg');
}

#box {
  background-color: #333;
  padding: 20px 10px 30px 10px;
  display: inline-block;
}

/* TODO fix this container not showing */
#timerContainer {
  background-color: black;
}

#timer {
  color: green;
}

#init {
  background-color: grey;
}

#init:hover {
  background-color: #fff;
  color: red;
}

#message {
  color: #fff;
}
